.rbc-calendar{
    width: 800px !important;
}
.modal-content {
    width: fit-content !important;
    padding: 15px;
}
.modal-dialog{
    justify-content: center !important;
}
.rbc-event, .rbc-day-slot .rbc-background-event {
    background-color: #97dba2 !important;
    color: rgba(17, 117, 17, 0.719) !important;
    border: #5bc05b solid 0.5px !important;
    min-height: 30px !important;
}

.rbc-toolbar button {
    color: #878787 !important;
    background: #f4f4f4 !important;
    border: none !important;
    padding: 0.505rem 1rem !important;
}

.rbc-off-range-bg {
    background: #f4f4f4 !important;
}
.rbc-day-bg + .rbc-day-bg {
    border-left: 1px solid #f6f6f6 !important;
}
.rbc-month-view {
    border: 1px solid #ededed !important;
}
.rbc-month-row + .rbc-month-row {
    border-top: 1px solid #f1f1f1 !important;
}
.rbc-today {
    background-color: #f8fcff !important;
}