.sideBar{
    position: absolute;
    top: 0px;
    width: 0px;
    // padding: 10px;
    // background-color: white;
    z-index: 4100 !important;
    // box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.bm-item {
    .row{
        display: flex !important;
    }
} 
.logoApps{
    padding: 10px 20px;
    text-align: center;

    img{
        width: 145px;
    }
}
.menu-button{
    cursor: pointer;
}

.col-close{
    align-self: center;
    text-align-last: right;
}

.row-header{
    width: 107%;
    padding-left: 15px;
    padding-right: 7px;
    padding-bottom: 6px;
    padding-top: 6px;
    border-bottom: solid 1px rgb(214, 214, 214);
    margin-bottom: 20px;
}

.bm-menu{
    overflow: inherit !important;
}

.list-menu{
    align-items: center !important;
    font-size: small !important;
}

.row-line{
    border-bottom: solid 1px rgb(214, 214, 214);
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
.menu-item{
    cursor: pointer;
}
.menu-item:hover{
    color: #16a75c !important;
    .iconList{
        color: #16a75c !important;
    }
}
.title-menu-sidebar{
    padding-top: 7px;
    margin-left: 10px;
    text-align-last: left;
    max-width: 277px !important;
}
.btn-side-back{
    display: table-column;
    position: absolute;
    right: 20px;
    z-index: 10000;
    margin-top: 10px;
    cursor: pointer;
    :hover{
        cursor: pointer;
    }
}
.sideBarForm{
    width: 365px !important;
    position: absolute;
    top: 0px;
    z-index: 1100 !important;
    background-color: #F5F5FA;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    transition: none !important;
    max-width: calc(100% - 20px);
}
    /* Lebar responsif untuk perangkat dengan lebar layar di bawah 768px */
    @media screen and (max-width: 767px) {
        .responsive-container {
        width: 100%; /* Lebar 100% pada perangkat dengan lebar layar di bawah 768px */
        }
    }
    
    /* Lebar responsif untuk perangkat dengan lebar layar di atas atau sama dengan 768px */
    @media screen and (min-width: 768px) {
        .responsive-container {
        width: 365px; /* Lebar tetap 365px pada perangkat dengan lebar layar di atas atau sama dengan 768px */
        }
    }
.header-sidebar{
    height: 70px;
}
.body-side-rumah{
    font-family: "Roboto" !important;
    padding: 15px 15px 15px 15px;
    margin-top: -24px;
    position: sticky;
    background: white;
    width: 90% !important;
    margin-right: auto;
    margin-left: auto;
    border-radius: 8px;
}
.input-sidebar{
    height: 50px !important;
    width: 100% !important;
    margin-left: 0px !important;
    margin-bottom: 20px;
    margin-top: 5px;
    background-color: #f5f5f5 !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;

}
.input-sidebar:focus {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
}
.input-sidebar-area:focus {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
}
.label-form{
    font-size: smaller;
    font-family: 'Roboto';
    font-weight: bold;
    color: #838383;
}
.footer{
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    text-align: right;
}
.simpan-sidebar{
    border-radius: 25px;
    margin-left: 30px;
    width: 79%;
    font-family: 'Roboto' !important;
    background-color: #16a75c !important;
}
.input-sidebar-area{
    height: 100px !important;
    width: 100% !important;
    margin-left: 0px !important;
    margin-bottom: 20px;
    margin-top: 5px;
    background-color: #f5f5f5 !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;

}
.batal{
    font-family: 'Roboto' !important;
    color: red;
    text-decoration-line: none;
}
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    color: rgb(151, 151, 151);
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 10px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 40px; }

.required-star{
    color: #16a75c;
}

.btn-area{
    font-size: smaller !important;
    font-family: 'Roboto' !important;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
}

.img-rumah{
    width: 100%;
}

.titleHome{
    font-size: 13px;
    font-weight: 500;
    line-height: 150%;
}

.icon-marker{
    font: -webkit-small-control;
    color: #a1a1a1;
}

.latlng{
    font: -webkit-small-control;
    align-self: center;
    padding-left: 0px !important;
    color: #818181;
}
.marker{
    align-self: auto;
    height: 26.6px !important;
    padding-right: 0px !important;
}
.text-header{
    color: #000;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.close-button{
    width: fit-content;
    background: #ef5e30;
    color: white !important;
    border-radius: 10px;
    padding-top: 0px !important;
    padding: 4px;
    margin-top: 2px;
    margin-left: 8px;
}
.date-update{
    background: #16a75c;
    color: white;
    font-size: 11px;
    padding: 4px 8px 0px 8px;
    border-radius: 10px !important;
    align-self: center;
    position: absolute;
    right: 13px;
}
.titleBody{
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    padding: 10px 21px;
    line-height: 150%;
    margin-top: 5px;
}

.bodyData{
    font-family: "Roboto" !important;
    padding: 15px;
    position: sticky;
    background: white;
    width: 90% !important;
    margin-right: auto !important;
    margin-left: auto !important;
    border-radius: 8px;
}
.textLeft{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.textRight{
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    right: 0px;
    position: absolute;
}
.li-data{
    padding: 10px 0px;
    border-bottom: 0.1px solid #d8d8d8;
}
.li-data-last{
    padding: 10px 0px;
}
.badges-text{
    font-size: 15px !important;
}
.progress-bar{
    background-color: #26ADE3;
}

.scrollbox {
    width: 100%;
    height: 94vh;
    overflow-y: scroll;
  }
  .scrollbox::-webkit-scrollbar {
    display: none;
  }

.textName{
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin-right: 5px;
}
.side-li-child{
    margin-left: 27px;
    border-left: 1px solid;
    padding-left: 18px !important;
    padding: 2px 0px;
}
.body-row-sidebar{
    width: fit-content !important;
    padding: 0px !important;
    text-align: left;
    padding-left: 12px !important;
}
.col-switch{
    padding-left: 0px !important;
    text-align: -webkit-right;
    padding-right: 0px !important;
    padding-top: 4px;
    width: 80px !important;
}
.dropdown-switch{
    padding-right: 0px !important;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}
.titleDakwah{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
}
.css-1t8x7v1 >.ps-menu-button {
    height: 40px !important;
    padding-right: 5px !important;
    padding-left: 18px !important;
}
.css-1wvake5.ps-collapsed {
    width: 74px;
    min-width: 0px !important;
}
.css-1wvake5 {
    position: relative;
    border-right-width: 1px;
    border-right-style: solid;
    border-color: #efefef;
    -webkit-transition: width,left,right,300ms;
    transition: width,left,right,300ms;
    width: 250px;
    min-width: 260px !important;
}

.css-16jesut >.ps-menu-button {
    height: 40px !important;
    padding-right: 35px !important;
    padding-left: 18px !important;
}
.css-1tqrhto >.ps-menu-button {
    padding-left: 65px !important;
    height: 35px !important;
}
.ps-menu-icon{
    background: #16a75c41 !important;
    border-radius: 10px !important;
}
.css-1t8x7v1 >.ps-menu-button:hover {
    color: #16a75c;
    background-color: white !important;
}
.css-16jesut >.ps-menu-button:hover {
    color: #16a75c;
    background-color: white !important;
}
.css-1tqrhto >.ps-menu-button:hover {
    color: #16a75c;
    background-color: white !important;
}
.bm-overlay{
    width: fit-content !important;
    transition: none !important;
}
.css-1wvake5 {
    z-index: 100000000;
}